@(genreid: Long, genres: Seq[(String, String)], countries: Seq[(String, String)])

@import helper._
@import helper.twitterBootstrap._
@import views.html.tags._

@main("Edit Artists") {
	<input type="hidden" id="genreid" value="@genreid">

	<div id="edit" class="modal hide fade">
	    <div class="modal-body">
	    	<h3>Edit Artist</h3>
	    	<div class="controls controls-row">
	    		@input_text_2("ID", "id", "span1", true)
	    		@input_text_2("Name", "name", "span4")
	    	</div>
	    	<div class="controls controls-row">
	    		@dropdown_combo("Genre", "genre", genres, "span2", null)
	    		@dropdown_combo("Country", "country", countries, "span3", null)
	    	</div>
	    </div>
	    <div class="modal-footer">
	    	<button id="save" href="#" class="btn btn-success">OK</button>
	    	<button id="cancel" href="#" class="btn btn-primary">Cancel</button>
	    </div>
	</div>

	<a href="@routes.ManageController.genresPage">Back</a>
	<table id="artists" class="table table-condensed table-striped table-hover">
	</table>

	<script>
		$(document).ready(function(){
			$(function() {
				$.extend($.fn.disableTextSelect = function() {
					return this.each(function() {
						$(this).mousedown(function() { return false; });
					});
				});
			});

			$("#edit").on("show", function() {
		        $("#save").on("click", function(e) {
		            console.log("button pressed");   // just as an example...
		            $("#edit").modal('hide');     // dismiss the dialog
		        });
		        $("#cancel").on("click", function(e) {
		            console.log("cancel pressed");   // just as an example...
		            $("#edit").modal('hide');     // dismiss the dialog
		        });
		    });

		    $("#edit").on("hide", function() {    // remove the event listeners when the dialog is dismissed
		        $("#save").off("click");
		        $("#cancel").off("click");
		    });

		    $(document).keyup(function(e) {
				if (e.keyCode == 27) { $("#edit").modal('hide'); }   // esc
			});

	        fillTable();
	    });

	    function fillTable() {
	    	var genreid = $("#genreid").attr("value");
	    	console.log(genreid);
	    	$.getJSON("/artists?genreid=" + genreid, function(json) {
                var table = $("#artists");
                table.empty();
                headers(table, ["ID", "Name", "Country", "Action"]);
                highlightOnClick(table);
                $.each(json, function() {
                    var tbl_row = $("<tr>", {href: "#", id: this.id});
                    var tbl_cell_id = $("<td>", {id: this.id, html: this.id});
                    var tbl_cell_name = $("<td>", {id: this.id, html: this.name});
                    var country = this.country;
                    if (country != undefined) {
                    	var tbl_cell_country = $("<td>", {id: this.id, html: country.name});
                    } else {
                    	var tbl_cell_country = $("<td>", {id: this.id, html: "-"});;
                    }
                    var tbl_cell_action = $("<td>", {id: this.id, href: "/edit/artists/delete?id=" + this.id, html: "x"});
                    tbl_row.append(tbl_cell_id);
                    tbl_row.append(tbl_cell_name);
                    tbl_row.append(tbl_cell_country);
                    tbl_row.append(tbl_cell_action);
                    var id = this.id;
                    setClickHandlers(tbl_row, function() {
                        edit(id);
                    }, function() {
                        window.alert("go to albums");
                    });
                    table.append(tbl_row);
                })
                return false;
            });
	    }

	    function edit(artistid) {
	    	$.getJSON("/artists/" + artistid, function(json) {
                $("#id").val(json.id);
                $("#name").val(json.name);
                $("#genre").val(json.genre.id);
                return false;
            });
			showEditWindow();
	    }

	    function showEditWindow() {
	    	$("#edit").modal({
		      "backdrop"  : "static",
		      "keyboard"  : true,
		      "show"      : true
		    });
	    }
	</script>
}
