@(genreid: Long, genres: Seq[(String, String)], countries: Seq[(String, String)])

@import helper._
@import helper.twitterBootstrap._
@import views.html.tags._
@import views.html.edit._

@editorBody = {
	<h3>Edit Artist</h3>
	<div class="controls controls-row">
		@input_text_2("ID", "id", "span1", true)
		@input_text_2("Name", "name", "span4")
		<input type="hidden" id="genreid" value="@genreid">
	</div>
	<div class="controls controls-row">
		@dropdown_combo("Genre", "genre", genres, "span2", null)
		@dropdown_combo("Country", "country", countries, "span3", null)
	</div>
}

@fillTableFunction = {
	var genreid = $("#genreid").attr("value");
	console.log(genreid);
	$.getJSON("/artists?genreid=" + genreid, function(json) {
        var table = $("#data");
        table.empty();
        headers(table, ["ID", "Name", "Country"]);
        highlightOnClick(table);
        $.each(json, function() {
            var tbl_row = $("<tr>", {href: "#", id: this.id});
            var tbl_cell_id = $("<td>", {id: this.id, html: this.id});
            var tbl_cell_name = $("<td>", {id: this.id, html: this.name});
            var country = this.country;
            if (country != undefined) {
            	var tbl_cell_country = $("<td>", {id: this.id, html: country.name});
            } else {
            	var tbl_cell_country = $("<td>", {id: this.id, html: "-"});;
            }
            tbl_row.append(tbl_cell_id);
            tbl_row.append(tbl_cell_name);
            tbl_row.append(tbl_cell_country);
            var id = this.id;
            setClickHandlers(tbl_row, function() {
                edit(id);
            }, function() {
                window.alert("go to albums");
            });
            table.append(tbl_row);
        })
        return false;
    });
}

@prepareEditorFunction = {
    $.getJSON("/artists/" + id, function(json) {
        $("#id").val(json.id);
        $("#name").val(json.name);
        $("#genre").val(json.genre.id);
        $("#country").val(json.country.id);
        return false;
    });
}

@saveChangesFunction = {
	var id = $('#id').val();
	var name = $('#name').val();
	var genre = $('#genre').val();
	$.ajax({
	    type : 'PUT',
	    url : "/artists",
	    data : { id : id, name : name, genre : genre },
	    dataType : "text",
	    success : function(data) {
	    	fillTable();
	        console.log(data);
	    },
	    error : function(data) {
	        console.log("Error! " + data);
	    }
	});
}

@deleteFunction = {
	console.log("delete");
}

@editpage("Edit Artists", editorBody, routes.ManageController.genresPage, fillTableFunction, prepareEditorFunction, saveChangesFunction, deleteFunction)
