@(albums: List[models.Album])

@import helper._
@import helper.twitterBootstrap._

@main("Edit Albums") {
	<table class="table table-condensed table-striped">
		<thead>
		    <tr>
		    	<td><em><b>ID</b></em></td>
		    	<td><em><b>Name</b></em></td>
		    	<td><em><b>Action</b></em></td>
		    </tr>
	    </thead>
	    <tbody>
	        @for(album <- albums) {
	        	<tr>
	            	<td><a href="@routes.ManageController.tracksPage(album.id)">@album.id</a></td>
	            	<td>@album.name</td>
	            	<td><a href="@routes.ManageController.deleteAlbum(album.id)">x</a></td>
	            </tr>
	        }
	    </tbody>
	</table>

}
