@(tracks: List[models.Track])

@import helper._
@import helper.twitterBootstrap._

@main("Edit Tracks") {
	<table class="table table-condensed table-striped">
		<thead>
		    <tr>
		    	<td><em><b>ID</b></em></td>
		    	<td><em><b>Name</b></em></td>
		    	<td><em><b>Action</b></em></td>
		    </tr>
	    </thead>
	    <tbody>
	        @for(track <- tracks) {
	        	<tr>
	            	<td>@track.id</a></td>
	            	<td>@track.name</td>
	            	<td><a href="@routes.ManageController.deleteTrack(track.id)">x</a></td>
	            </tr>
	        }
	    </tbody>
	</table>

}
