@(request: play.api.mvc.Request[Any])

@import helper._
@import helper.twitterBootstrap._

@main("mplayer") {
	<div class="pull-right" style="padding-right:5px;">
		<small>Logged in as @request.session.get("username")</small>
		<small><a href="/logout">Logout</a></small>
	</div>
	<div id="jplayer"></div>
	<div id="jp_container_1">
		<a href="#" class="btn btn-success btn-mini jp-play">&#9658;</a>
		<a href="#" class="btn btn-success btn-mini jp-pause">| |</a>
		<div class="pull-right" style="padding-right:20px;">
			<input type="text" class="span2" id="volume" data-slider-min="0" data-slider-max="100" data-slider-value="50" data-slider-tooltip="hide" data-slider-id="volume">
		</div>
	</div>
	<br>

	<div id="tabsholder">
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	        <li class="active"><a href="#genres" data-toggle="tab">Genres</a></li>
	        <li><a href="#artists" data-toggle="tab">Artists</a></li>
	        <li><a href="#albums" data-toggle="tab">Albums</a></li>
	    </ul>
	    <div id="my-tab-content" class="tab-content">
	        <div class="tab-pane active" id="genres">
	            <table class="table table-hover table-condensed" id="genrestable"></table>
	        </div>
	        <div class="tab-pane" id="artists">
	            <table class="table table-hover table-condensed" id="artiststable"></table>
	        </div>
	        <div class="tab-pane" id="albums">
	            <table class="table table-hover table-condensed" id="albumstable"></table>
	        </div>
	    </div>
	</div>
	<br>

	<table id="trackstable" class="table table-hover table-condensed">
		<tr class="play" href="#"><td id="1">1</td></tr>
		<tr class="play" href="#"><td id="2">2</td></tr>
	</table>
}
