@(request: play.api.mvc.Request[Any])

@import helper._
@import helper.twitterBootstrap._

@main("mplayer") {
	<div class="pull-right">
        <div class="btn-group" style="padding-right:5px;padding-top:5px;padding-left:5px;">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">@request.session.get("username")  <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="@routes.UserController.settingsPage(request.session.get("userid").getOrElse("-1").toLong)">Settings</a></li>
                <li class="divider"></li>
                <li><a href="@routes.UploadController.uploadPage">Upload a release</a></li>
                <li><a href="@routes.ManageController.genresPage">Manage music</a></li>
                <li class="divider"></li>
                <li><a href="@routes.AuthenticationController.logout">Logout</a></li>
            </ul>
        </div>
	</div>
	<div id="jplayer"></div>
	<div id="jp_container_1" style="width:100%;">
        <div class="controls controls-row">
    		<div class="pull-left" style="padding-right:5px;padding-top:5px;padding-left:5px;">
    			<a href="#" class="btn btn-success btn-xs jp-play">&#9658;</a>
    			<a href="#" class="btn btn-success btn-xs jp-pause">| |</a>
    		</div>
    		<div class="pull-left" style="padding-right:5px;padding-top:6px;padding-left:5px;">
    			<p id="nowplaying"></p>
    		</div>
            <div class="pull-right" style="padding-right:5px;padding-top:16px;padding-left:5px;width:200px;">
                <div id="volume"></div>
            </div>
        </div>
	</div>
	<br><br>
    <div id="seek-controls">
        <div class="controls controls-row" style="padding-left:15px;padding-right:15px;height:23px;">
            <div class="pull-left"><p id="now_time">0:00</p></div>
            <div class="pull-right"><p id="total_time">0:00</p></div>
        </div>
        <div class="controls controls-row" style="padding-left:25px;padding-right:25px;">
            <div id="seek"></div>
        </div>
    </div>

	<div style="position:absolute;top:90px;left:5px;right:5px;height:200px;width:100%;">
        <div name="search" class="pull-right" style="width:300px;padding-right:10px;">
            <div class="input-group">
                <input type="text" class="form-control" id="searchtext">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="searchbutton">Search</button>
                </span>
            </div>
        </div>
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	        <li class="active"><a href="#genres" data-toggle="tab">Genres</a></li>
	        <li><a href="#artists" data-toggle="tab">Artists</a></li>
	        <li><a href="#albums" data-toggle="tab">Albums</a></li>
	        <li><a href="#countries" data-toggle="tab">Countries</a></li>
	    </ul>
	    <div id="my-tab-content" class="tab-content" style="overflow:auto;position:absolute;top:20;left:0;right:5px;height:200px;">
	        <div class="tab-pane active" id="genres">
	            <table class="table table-hover table-condensed" id="genrestable"></table>
	        </div>
	        <div class="tab-pane" id="artists">
	            <table class="table table-hover table-condensed" id="artiststable"><th>Nothing to show</th></table>
	        </div>
	        <div class="tab-pane" id="albums">
	            <table class="table table-hover table-condensed" id="albumstable"><th>Nothing to show</th></table>
	        </div>
	        <div class="tab-pane" id="countries">
	            <table class="table table-hover table-condensed" id="countriestable"><th>Nothing to show</th></table>
	        </div>
	    </div>
	</div>
	
	<div id="tracksholder" style="overflow:auto;position:absolute;top:340px;left:5px;right:5px;bottom:0px;">
		<b>Playlist</b>
		<table id="trackstable" class="table table-hover">
			<th>Nothing to show</th>
		</table>
	</div>

	<script type="text/javascript">
	    $(document).ready(function(){
            userid = @request.session.get("userid").getOrElse("-1").toLong;

	        $("#jplayer").jPlayer();

            $('#volume').slider({
              min: 0,
              max: 100,
              range: "min",
              value: 50,
              slide: function( event, ui ) {
                $("#jplayer").jPlayer("volume", ui.value/100);
              }
            });

            $('#seek').slider({
                min: 0,
                max: 100,
                range: "min",
                value: 0,
                stop: function(event, ui) {
                    $('#jplayer').jPlayer("playHead", ui.value);
                }
            });

	        $("#tabs").tab();
	        fillGenres();
	        fillCountries();
            enableSearching();

	        $(function() {
				$.extend($.fn.disableTextSelect = function() {
					return this.each(function() {
						$(this).mousedown(function() { return false; });
					});
				});
			});
	    });
    </script>
}
