@(message: String)

@import helper._
@import helper.twitterBootstrap._

@main("mplayer") {
	<div id="jplayer"></div>
	<div id="jp_container_1">
		<a href="#" class="btn btn-danger btn-mini jp-play">Play</a>
		<a href="#" class="btn btn-danger btn-mini jp-pause">Pause</a>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#jplayer").jPlayer({
				ready: function () {
					$(this).jPlayer("setMedia", {
						m4a: "/get"
					});
				},
				swfPath: "/js",
				supplied: "m4a"
			});
		});
	</script>
}
