@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slider.css")">

		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.jplayer.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-slider.js")" type="text/javascript"></script>
        <style>
            #volume .slider-handle {
                background: #5AB35A;
            }

            #divbody {
                min-height:98.5%;
            }

            html,body {
                height:98.5%;
            }
        </style>
    </head>
    <body>
        <div id="divbody" style="padding-left:5px;padding-top:5px;padding-bottom:5px;padding-right:5px;height:100%;">
            @content

            <script type="text/javascript">
                function updatePlayer(id){
                    var player = $("#jplayer");

                    player.jPlayer({
                    ready: function () { 
                        $(this).jPlayer("setMedia", { 
                            mp3: "get?id=" + id
                        }); 
                        $(this).jPlayer("play");
                    },
                    swfPath: "/js",
                    supplied: "mp3",
                    }); 
                    player.jPlayer("setMedia", { 
                        mp3: "get?id=" + id
                    }); 
                    player.jPlayer("play");
                    player.bind($.jPlayer.event.ended, function(event) {
                        console.log("song ended");
                        playNext();
                    });

                    updateTrackInfo(id);
                }

                function updateTrackInfo(id) {
                    $.getJSON("/trackinfo?id=" + id, function(json) {
                        var nowplaying = $("#nowplaying");
                        nowplaying.text(json.artist + " - " + json.title + " (" + json.duration + ")");
                        updateNowPlaying(json.artist, json.title)
                        return false;
                    });
                }

                

                function playNext() {
                    var nextrow = $("#trackstable > tbody > tr.success").next("tr");
                    if (nextrow.attr("id") == undefined) {
                        nextrow = $("#trackstable > tbody > tr").first().next();
                    }
                    nextrow.click();
                }

                function fillGenres() {
                    $.getJSON("/genres", function(json) {
                        var table = $("#genrestable");
                        table.empty();
                        highlightOnClick(table);
                        $.each(json, function() {
                            var tbl_row = $("<tr>", {class: "loadartists", href: "#artists", id: this.id});
                            var tbl_cell = $("<td>", {id: this.id, html: this.name});
                            tbl_row.append(tbl_cell);
                            var id = this.id;
                            setClickHandlers(tbl_row, function() {
                                fillArtists(id);
                            }, function() {
                                $.getJSON("/tracks?genreid=" + id, function(json) {
                                    console.log("/tracks?genreid=" + id);
                                    fillTracks(json);
                                });
                            });
                            table.append(tbl_row);
                        })
                        return false;
                    });
                }

                function fillArtists(genreid) {
                    console.log("/artists?genreid=" + genreid);
                    $.getJSON("/artists?genreid=" + genreid, function(json) {
                        var table = $("#artiststable");
                        table.empty();
                        headers(table, ["Name"]);
                        highlightOnClick(table);
                        $.each(json, function() {
                            var tbl_row = $("<tr>", {href: "#", class: "loadalbums", id: this.id});
                            var tbl_cell = $("<td>", {id: this.id, html: this.name});
                            tbl_row.append(tbl_cell);
                            var id = this.id;
                            setClickHandlers(tbl_row, function() {
                                fillAlbums(id);
                            }, function() {
                                $.getJSON("/tracks?artistid=" + id, function(json) {
                                    console.log("/tracks?artistid=" + id);
                                    fillTracks(json);
                                });
                            });
                            table.append(tbl_row);
                        })
                        $('#tabs a[href="#artists"]').tab('show');
                        return false;
                    });
                }

                function fillAlbums(artistid) {
                    console.log("/albums?artistid=" + artistid);
                    $.getJSON("/albums?artistid=" + artistid, function(json) {
                        var table = $("#albumstable");
                        table.empty();
                        headers(table, ["Year", "Name", "Format"]);
                        highlightOnClick(table);
                        $.each(json, function() {
                            var tbl_row = $("<tr>", {href: "#", class: "loadtracks", id: this.id});
                            var tbl_cell_year = $("<td>", {id: this.id, html: this.year});
                            var tbl_cell_name = $("<td>", {id: this.id, html: this.name});
                            var tbl_cell_format = $("<td>", {id: this.id, html: this.format});
                            tbl_row.append(tbl_cell_year);
                            tbl_row.append(tbl_cell_name);
                            tbl_row.append(tbl_cell_format);
                            var id = this.id;
                            setClickHandlers(tbl_row, function() {
                                $.getJSON("/tracks?albumid=" + id, function(json) {
                                    console.log("/tracks?albumid=" + id);
                                    fillTracks(json);
                                });
                            }, function() {
                                alert("Double click");
                            });
                            table.append(tbl_row);
                        })
                        $('#tabs a[href="#albums"]').tab('show');
                        return false;
                    });
                }

                function fillTracks(json) {
                    var table = $("#trackstable");
                    table.empty();
                    headers(table, ["#", "Title", "Duration"]);
                    highlightOnClick(table);
                    var count = 1;
                    $.each(json, function() {
                        var tbl_row = $("<tr>", {class: "play", href: "#", id: this.id});
                        var tbl_cell_no = $("<td>", {id: this.id, html: count++});
                        var tbl_cell_name = $("<td>", {id: this.id, html: this.name});
                        var tbl_cell_duration = $("<td>", {id: this.id, html: this.duration});
                        tbl_row.append(tbl_cell_no);
                        tbl_row.append(tbl_cell_name);
                        tbl_row.append(tbl_cell_duration);
                        tbl_row.click(function(event) {
                            id = event.target.id
                            console.log("get?id=" + id)
                            updatePlayer(id)
                        });
                        table.append(tbl_row);
                    });
                    return false;
                }

                function headers(table, headers) {
                    var tbl_header_row = $("<tr>", {});
                    $.each(headers, function() {
                        var tbl_header_cell = $("<th>", {html: this});
                        tbl_header_row.append(tbl_header_cell);
                    });
                    table.append(tbl_header_row);
                }

                function highlightOnClick(table) {
                    table.on("click", "tbody tr", function(event) {
                        $(this).addClass("success").siblings().removeClass("success");
                    });
                }

                function setClickHandlers(row, singleClick, doubleClick) {
                    row.on("click", function(e){
                        clicks++;
                        if(clicks === 1) {
                            timer = setTimeout(function() {
                                singleClick();
                                clicks = 0;
                            }, DELAY);
                        } else {
                            e.preventDefault();
                            clearTimeout(timer);
                            doubleClick();
                            clicks = 0;
                        }
                    }).on("dblclick", function(e) {
                        e.preventDefault();
                    }).disableTextSelect();
                }
            </script>
        </div>
        <footer class="footer" style="background-color:#f0f0f0;position:absolute;bottom:0;height=0px;width:100%;margin-top=0px;">
            <small><a href="@routes.UploadController.uploadPage">Upload a release</a> | <a href="@routes.ManageController.genresPage">Manage music</a></small>
        </footer>
    </body>
</html>
