@(genres: Seq[(String, String)], formats: Seq[(String, String)])

@import helper._
@import helper.twitterBootstrap._
@import views.html.tags._

@main("Upload a release") {
	<a href="@routes.Application.index">Back</a><br>
	@helper.form(action = routes.UploadController.upload, 'enctype -> "multipart/form-data") {
		<fieldset>
			<div class="controls controls-row">
		    	@file("Archive file", "release", "span3")
		    </div>
		    <div class="controls controls-row">
				@dropdown_combo("Genre", "genre", genres, "span3", null)
			</div>
			<div class="controls controls-row">
				@input_text_2("Artist", "artist", "span3")
		    </div>
		    <div class="controls controls-row">
		    	@input_text_2("Album", "album", "span3")
		    </div>
		    <div class="controls controls-row">
		    	@input_text_2("Year", "year", "span3")
		    </div>
		    <div class="controls controls-row">
		    	@dropdown_combo("Format", "format", formats, "span3", null)
		    </div>
		    <div class="controls controls-row">
		    	<div class="clearfix span3">
		    		<input type="submit" value="Upload">
		    	</div>
		    </div>
	    </fieldset>
	}
} 