@(settingsForm: Form[models.UserSettings])

@import helper._
@import helper.twitterBootstrap._

@main("Settings") {
	<div class="row">
        <div class="span12">
            @form(routes.UserController.saveSettings, args = 'id -> "userform", '_class -> "form-horizontal") {
                @inputText(settingsForm("account"))
                <input id="id" name="id" type="hidden" value="@settingsForm("id").value.getOrElse("-1")">
                <input id="save" type="submit" value="Save" class="btn">
            }
        </div>
    </div>

    <script type="text/javascript">
    	$(document).ready(function(){
	        $("#save").click(function() {
	        	window.open("@routes.LastFmController.authorize(settingsForm("id").value.getOrElse("-1").toLong)");
	        });
	    });
    </script>
}